a {
	text-decoration: none;
}

a:visited {
	
}

div.clear {
	clear: both;
}

#container {
	width: 800px;
	margin: 0 auto;
	border: 1px solid #D6D6D6;
	padding-bottom: 10px;
}

#header {
	width: 100%;
	border-bottom: 1px solid #D6D6D6;
	padding-bottom: 20px;
}

#footer {
	width: 100%;
	border-top: 1px solid #D6D6D6;
	color: red;
	font-size: 10px;
	text-align: center;
	padding-top: 10px;
}

#logo {
	text-decoration: none;
	width: 100p;
	font-size: 32px;
	color: red;
	text-align: center;
	margin-bottom: 15px;
	font-size: 32px;
}

#left {
	height: 100%;
	width: 130px;
	border-right: 1px solid #D6D6D6;
	float: left;
}

#right {
	height: 100%;
	float: left;
}

#topmenu {
	font-size: 14px;
	text-align: left;
	width: 100%;
	float: left;
}

#cartInfo {
	float: right;
	color: red;
}

#main {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#shop {
	padding-top: 20px;
	padding-bottom: 20px;
}

#product, #login, #registration, #account, #checkout {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}